In [17]:
import numpy as np
from scipy import stats
rng = np.random.default_rng()
sample1 = stats.uniform.rvs(size=100, random_state=rng)
sample2 = stats.norm.rvs(size=110, random_state=rng)
response = stats.ks_2samp(sample1, sample2)

In [18]:
sample1

array([0.73327381, 0.00280588, 0.73079886, 0.78705525, 0.74438005,
       0.33165942, 0.65793244, 0.78113557, 0.9181611 , 0.08875907,
       0.22559574, 0.26269906, 0.99327035, 0.38839439, 0.28395037,
       0.53348871, 0.43840561, 0.10704753, 0.82450704, 0.64536189,
       0.04610857, 0.284038  , 0.05883752, 0.77857407, 0.5189531 ,
       0.57082602, 0.29785571, 0.71087872, 0.70726688, 0.67009906,
       0.70795967, 0.22708156, 0.34967582, 0.47114483, 0.78753112,
       0.62203716, 0.85716416, 0.34220185, 0.58187569, 0.28588426,
       0.91163311, 0.30715197, 0.11948175, 0.40860915, 0.0401769 ,
       0.98144233, 0.08475761, 0.87555229, 0.41268372, 0.11662343,
       0.78480952, 0.09295684, 0.03665417, 0.77799508, 0.21591543,
       0.52243545, 0.90891141, 0.3208359 , 0.31741476, 0.61858753,
       0.10101611, 0.89087714, 0.28737432, 0.41738565, 0.96278959,
       0.49541372, 0.11353169, 0.89981686, 0.93846557, 0.12135636,
       0.48524377, 0.17423216, 0.06031036, 0.05126601, 0.04289935,
       0.65821451, 0.0475744 , 0.51707824, 0.02363777, 0.75934204,
       0.43656033, 0.25072809, 0.79047894, 0.41590945, 0.93685446,
       0.78677812, 0.75951509, 0.88156901, 0.51050783, 0.37751164,
       0.97873615, 0.88753586, 0.52476825, 0.05663256, 0.0370455 ,
       0.51171509, 0.60213255, 0.65034665, 0.58819717, 0.46489189])

In [19]:
sample2

array([ 0.6456481 , -1.99095711, -1.98167563, -1.0649878 ,  0.69206685,
        0.66119636,  0.08397702, -0.21249845, -0.57023008,  0.13294542,
       -0.1216913 , -0.29388965,  1.08718426,  1.15695419, -1.23769383,
       -0.72480128, -0.40101836,  0.97543677, -0.15565094,  0.46248651,
       -1.39142686,  1.42564253, -0.62743154,  1.36114862,  1.50455628,
       -0.82896685,  0.69746693,  0.75227035,  0.35095276, -0.99698787,
        0.33542079,  1.09732555, -0.03235084,  1.537221  , -1.05725162,
        0.25515526, -1.29197219, -1.95663362, -1.18663047, -1.2256712 ,
        0.88024118, -1.23344343, -1.25072592, -0.84112399, -0.23678223,
       -0.33000136, -1.39189524, -2.1582506 , -1.55934652,  0.35937106,
        0.34713227, -0.38263496,  0.45356362,  1.15303374,  0.07530063,
        0.00592365,  0.47938079, -0.7906795 , -2.23065589, -1.00052658,
        2.1536603 , -0.5580173 ,  0.06188229,  0.09084087,  0.28763836,
       -0.70884299,  0.27295826,  1.76631184, -0.15346791,  0.93304049,
       -0.28989857,  0.82037046, -0.11574882, -1.09193146,  0.33682252,
       -2.30541846,  0.59211494,  0.03813169, -1.80931393, -1.17815094,
       -1.51832179,  0.25694143,  1.75320069,  1.31842248, -1.49179942,
        1.00507632, -0.25568979, -0.886727  , -0.4314472 , -2.06711793,
       -0.02438813,  0.19397623, -0.40702726, -0.74710449,  0.08418236,
        0.62485801,  0.59721445, -1.22025343, -0.56517956,  1.21817122,
       -2.3206176 ,  0.79804102, -0.58756147,  0.54669753, -1.37684374,
        0.24780251,  0.4326321 ,  0.51303978,  0.72217841, -0.21754485])

In [20]:
round(response.pvalue,16)

2.198e-13

In [21]:
import pandas as pd

In [22]:
l1=[1,2,3,4]
l2=[4,5,6,7]

for l1_val,l2_val in zip(l1,l2):
    print(l1_val,l2_val)

1 4
2 5
3 6
4 7

In [24]:
df = pd.read_csv("/config/workspace/artifact/12022022__230552/data_ingestion/dataset/train.csv")

In [26]:
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,586768,2.0,NaN,NaN,0.0,0.0,0.0,31224.0,1052568.0,...,14568476.0,3918572.0,6112338.0,1832816.0,346262.0,290108.0,7950.0,0.0,0.0,0.0
1,neg,187332,NaN,1428.0,248.0,894.0,1426.0,0.0,0.0,0.0,...,788946.0,461716.0,916064.0,917194.0,2359424.0,2687828.0,12788.0,0.0,0.0,0.0
2,neg,33770,NaN,526.0,494.0,0.0,0.0,0.0,0.0,0.0,...,248430.0,131966.0,259520.0,230110.0,222636.0,163736.0,235102.0,6082.0,0.0,0.0
3,neg,30958,NaN,684.0,596.0,0.0,0.0,0.0,0.0,0.0,...,430006.0,204174.0,414788.0,234540.0,92218.0,38810.0,35584.0,516.0,0.0,0.0
4,neg,32468,NaN,396.0,318.0,0.0,0.0,0.0,0.0,0.0,...,437736.0,263068.0,692304.0,170274.0,27120.0,9884.0,4992.0,0.0,0.0,0.0

In [25]:
len(df.iloc[:,[0]].drop("class",axis=1).columns)

0